* {
  padding: 0;
  margin: 0;
  border: 0;
}

body{
  color: #333;
  font-family:"calluna-sans",Helvetica, Hiragino Sans GB, Microsoft JhengHei, WenQuanYi Micro Hei, sans-serif;
}

body a{
  color: #333;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
body a:hover{
  color: #E50053;
}


/* header layout */
body>header{
  width: 100%;
}

body>header div,nav{
  width: 60%;
  margin:auto;
}

header nav{
  display: block;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

nav li i{
  padding-right: .5em;
}

header nav ul{
  list-style: none;
  margin: 0;
}
header nav ul li{
  display: inline;  
  padding-right: 20px;
}

/* header color */

body>header a,h1,h2{
  color: #333;
}


body>header a{
  text-decoration: none;
}
a:hover{
  color: #E50053;
}

/* header font */

h1{
  font-size: 24px;
  font-weight: lighter;
}

h2{
  font-size: 17px;
  font-weight: lighter;
}

body>header li{
  font-size: 15px;
}






/* section layout */

section {
  width: 60%;
  margin: auto;
  font-size: 15px;
}

section article{
  margin-top: 100px;
}

section article header{
  padding-bottom: .7em;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
section>article>header>h1{
  padding-top: 10px;
}



.content p{
  line-height: 2.2em;
  margin-bottom: 1.2em;
}


.content h1,h2,h3,h4,h5,h6{
  margin-bottom: 1.2em;
}

.content h1{
  font-size: 23px;
}

.content h2{
  font-size: 20px;
}

.content h3{
  font-size: 17px;
}

.content h4{
  font-size: 15px
}

.content ol,.content ul{
  margin: 2em 0;
}

.content ul li,.content ol li{
  line-height: 2.1em;
  list-style-position: inside;
}

.content ul li{
  list-style-type: disc;
}


.content ol li{
  list-style-type: decimal;
}

.content ol li p{
  text-indent: 0;
}

.content ul li p{
  text-indent: 0;
}

img#bg{
  width: 100%;
}

.content img{
  display: block;
  width: 70%;
  margin: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}


.content img:hover{
  opacity: 0.67;
  cursor:pointer;
}

.content blockquote{
  border-left:.2em solid #ccc;
  padding-left: 1em;
}

.content blockquote>p{
  text-indent: .7em;
  font-size: 1.2em;
  font-weight: bolder;
}

p.end{
  margin-bottom: 40px;
  text-indent: 2em;
}



.content+footer{
  margin-top: 60px; 
  overflow: auto;
}


p.lastpage,p.nextpage{
  display: inline;
}

p.nextpage{
  float: right;
}

p.lastpage a,p.nextpage a{
  color: #333;
  text-decoration: none;
}

p.lastpage a:hover,p.nextpage a:hover{
  color: #E50053;
}


#comment{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
}



/* section color */




body>footer{
  border-top:1px solid #ccc;
  margin-top: 100px;
}

body>footer>p{
  width: 60%;
  margin:.2em auto;
  font-size:0.9em;
}

#tongji{
  position: fixed;
  left: -10000px;
}
#tongji img{
  display: none;
}


#page div#article-list{
  margin: 80px 0;
}

#page  ul{
  list-style: none;
}

#page  div#article-list ul li{
  margin-bottom: 10px;
  line-height: 2.1em;
  list-style-type: none;
  text-indent: 0px;
}

#page div#article-list>ul>li>p{
  display: inline;
  text-indent: 0;
}

#page div#article-list>ul>li a{
  text-decoration: none;
}





#toTop{
  position: fixed;
  bottom: 1.5em;
  right: .5em;
  background-image: url(../images/move-up.png);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#toTop:hover{
  opacity: 0.7;
}

.content img::after{
  content:attr(alt);
  display: block;
  text-align: center;
   border-bottom: 1px solid #d9d9d9;
}
#home li{
  list-style: none;
}

#home li{
  margin-bottom: 5em; 
}

#home img{
  width: 100%;
  margin-bottom:35px;
}

#home p{
  font-size: 15px;
  line-height: 2.0em;
  margin-bottom:15px;
  word-wrap:break-word;
}

#home .title{
  font-size: 1.2em; 
}

time{
  font-size: 0.8em;
}

#home .tag{
  font-size: 0.8em;
  color: #bbb;
}

#home a{
  color: #000;
  opacity: 0.7;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  text-decoration: none;
}

#home a:hover{
  color: #E50053;
}

pre{
background-color: #333;
  padding: 2em;
  margin: 2em 0;
  border: 1px solid #919191;
}

pre code{
  line-height: 2em;
}

li>ol{
  margin-left:2em;
}


li>ul{
  margin-left:2em;
}


pre{
  margin: 2em;
  padding: 1em;
  border: 1px solid #919191;
}

iframe{
  padding-bottom: 3em;
  padding-top: 2em;
  margin: auto;
  display: block;
}

iframe[src*='music']{
  width: 100%;  
}



@media screen and (max-width: 900px){
  body>header div,nav{
    width: 95%;
    margin:auto;
  }
  header nav ul li {
    padding-right: 10px;
  }
  section {
    width: 95%;
    margin: auto;
  }
  body>footer>p{
    width: 95%;
    margin:.2em auto; 
  }

  .content img{
    width: 100%;
  }
  
}


