#post{
	background-color: #FFF;
}

#post #inner{
	width: 70%;
	margin: 0 auto;
	padding:40px 0;
}
@media (max-width: 800px) {
  #post #inner{
    	padding-bottom:100px;
  }
}

#post footer{
	margin-top: 100px;
	border-top:1px solid #CCC;
	padding-top: 40px;
}
@media (max-width: 800px) {
  #post footer{
    	margin-top:0 ;
  }
}
#post footer p{
	display: inline-block;
}
#post footer .lastpage{
	float:left;
}
#post footer .nextpage{
	float:right;
}
@media (max-width: 800px) {
  #post footer .nextpage{
    	float:left;
  }
}
#fixed {
	position: fixed;
	bottom: 30px;
	right:30px;
}
@media (max-width: 800px) {
  #fixed {
    	right: 0px
  }
}
#fixed td{
	padding:3px;
}
#fixed tr{
	border: 1px solid #CCC;
	padding: 3px;
}
#fixed .showCode:hover{
	cursor:pointer;
}
#fixed tr:hover{
	background: #CCC;
}
#fixed tr td a{
	text-decoration: none;
}

#code{
	width: 150px;
	height: 150px;
	/*background: url(/images/kexieweixin.jpg) no-repeat center center;*/
	position: fixed;
	right: 60px;
	bottom:60px;
	display: none;
}

#code img{
	max-width:80%;
	margin: 0 15px;
}
#code p{
	color: #000;
	padding: 0;
	margin: 0 0 0 10px;
}


#logo h1 a{
	font-size: 50px;
	line-height: 90%;

}
@media (max-width: 800px) {
  #logo h1 a{
  	font-size: 30px;
  }
}

#logo span.subtitle{
	width:100%;
	border:none;
	padding-top: 30px;
}
@media (max-width: 800px) {
  #logo span.subtitle{
  	padding-top: 0;
  }
}
