---
layout: page
title: 首页
---


<div id="article-list">
    <h1>近期发布</h1>  
    <ul>
    {% for i in (0..3) %}
        <li>
            <p class="date">{{ site.posts[i].date|date:"%Y-%m-%d" }} - <a href="{{ site.posts[i].url }}">{{ site.posts[i].title }}</a>
            </p>
        </li>
    {% endfor %}
    </ul>


    <h1>近期博客</h1>  
    <ul>
    {% for i in (0..3) %}
        <li>
            <p class="date">{{ site.categories.blog[i].date|date:"%Y-%m-%d" }} - <a href="{{ site.categories.blog[i].url }}">{{ site.categories.blog[i].title }}</a>
            </p>
        </li>
    {% endfor %}
    </ul>

    <h1>近期通知</h1>  
    <ul>
    {% for i in (0..3) %}
        <li>
            <p class="date">{{ site.categories.notice[i].date|date:"%Y-%m-%d" }} - <a href="{{ site.categories.notice[i].url }}">{{ site.categories.notice[i].title }}</a>
            </p>
        </li>
    {% endfor %}
    </ul>
</div>