---
layout: page
title: 学习
---


<div class="index-content blog">
   
    <ul class="artical-list">
    <h1>学习资源</h1>
    {% for post in site.tags.resource %}
        <li>
            <div class="title-date"><p class="date">{{ post.date|date:"%Y-%m-%d" }}</p><p class="arrow"> >> </p></div>
            <h2>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="title-desc">{{ post.description }}</div>
        </li>
    {% endfor %}

    
    <h1>学习方法</h1>
    {% for post in site.tags.method %}
        <li>
            <div class="title-date"><p class="date">{{ post.date|date:"%Y-%m-%d" }}</p><p class="arrow"> >> </p></div>
            <h2>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="title-desc">{{ post.description }}</div>
        </li>
    {% endfor %}

    </ul>


</div>