<!DOCTYPE html>
<html>
<head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="kexie" />
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <link href='http://fonts.useso.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
        <script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/skel-panels.min.js"></script>
        <script src="/js/init.js"></script>
        <script src="/js/post.js"></script>


            <link rel="stylesheet" href="/css/skel-noscript.css" />
            <link rel="stylesheet" href="/css/style.css" />
            <link rel="stylesheet"  href="/css/style-desktop.css" />
            <link rel="stylesheet" media="max-width:800px" href="/css/style-mobile.css">
            <link rel="stylesheet" href="/css/post.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
</head>
<body class="homepage">
    <div id="header" style="padding:50px 0;height:250px;">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="#" >{{ page.title }}</a></h1>
                    <span class="subtitle">{{ page.description }}</span><br>
                    <span style="padding-top:5px;border:none;">{{ page.author }}&nbsp;&nbsp;&nbsp;&nbsp;{{ page.date|date:"%Y-%m-%d" }}</span>
                </div>

                <!-- <nav id="nav" class="mobileOnly">
                    <ul>
                        <li class="active"><a href="#header">返回顶部</a></li>
                        <li class="active"><a href="/">返回主页</a></li>
                        <li class="active"><a href="#">关注微信了解更多！<img src="/images/kexieweixin.jpg"></a></li>
                    </ul>
                </nav> -->
                <nav id="nav">
                    <ul>
                        <li class="active"><a href="index.html#main">&nbsp;&nbsp;主&nbsp;&nbsp;&nbsp;页&nbsp;&nbsp;</a></li>
                        <li class="active"><a href="index.html#featured">学生作品</a></li>
                        <li class="active"><a href="index.html#footer">优秀博文</a></li>
                    </ul>
                </nav>
            </div>
    </div>

        <div id="post">
            <div id="inner">
                {{ content }}

                <footer>
                {% if page.previous %}
                <p class="lastpage">上一篇：<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></p>
                {% endif %}

                {% if page.next %}
                <p class="nextpage">下一篇：<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></p>
                {% endif %}
                <br>
                </footer>
            </div>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <div class="container">
                西安理工大学-自动化与信息工程学院-科学与技术协会感谢各方对我协会的大力支持,如你有任何意见或者建议，请通过以下方式联系我们。<br>
                通讯地址     Add : 教五楼负一层科协办公室,     Tel : 029-82318560-8005,       邮箱 : ke_xaut@163.com
            </div>
        </div>

        <!-- fixed -->
        <table id="fixed">
            <tr>
                <td class="go"><a href="#header">返回<br>顶部</a></td>
            </tr>
            <tr class="showCode">
                <td>扫二<br>维码</td>
            </tr>
            <tr>
                <td class="go"><a href="/">返回<br>主页</a></td>
            </tr>
        </table>

        <div id="code">
            <p>关注微信了解更多！</p>
            <img src="/images/kexieweixin.jpg">
        </div>
</body>
</html>
