---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css"/>
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>



<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        <!--share-->
        <p align=right>{% include share %}</p>
        <!--share-->
        <br>
        {{ content }}
        <p align=right>{% include share %}</p>
        <!--share-->
        <div id="disqus_container">
            <div class="ds-thread" data-thread-key={{ page.id }} data-title={{ page.title }} data-url="http://ke-xaut.github.io/{{ page.url }}"></div>
        </div>
    </div>
    <div class="sidenav">
        <h2><a href="/blog">博客</a></h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <h2><a href="/project">事件</a></h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        <h2><a href="/project">通知</a></h2>
        <ul class="artical-list">
        {% for post in site.categories.notice  %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>

</div>

