---
layout: default
---


<section>
    <article>
        <header>
           <time class="date"><i class="fa fa-calendar fa-fw"></i> {{ page.date|date:"%Y-%m-%d" }}</time>

            <h1 class="title">{{ page.title }}
            </h1>
        </header>

        <div class="content" id="content">
            {{ content }}
        </div>

        <footer>
        {% if page.previous %}
              <p class="lastpage"><i class="fa fa-angle-double-left fa-fw"></i>上一篇：<a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></p>
        {% endif %}

        {% if page.next %}
              <p class="nextpage">下一篇：<a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a><i class="fa fa-angle-double-right fa-fw"></i></p>
        {% endif %}
        </footer>
    </article>
</section>

<section id="comment">
    {% include comment %} 
    <div id="disqus_container">
        <div class="ds-thread" data-thread-key={{ page.id }} data-title={{ page.title }} data-url="wy-ei.com/{{ page.url }}"></div>        
    </div>
</section>

